.body {
    background-color: #ffffff;
    overflow-x: hidden;
}

/* cabeçalho */

header {
    background-color: #dddddd;
    color: #ffffff;
    padding: 1rem;
    height: 120px;
}

header .botao a {
    color: #000000;
    font-size: 20px;
    margin-right: 15px;
}

header .botao a:hover {
    border-bottom: solid;
    border-color: black;
    color: black;
    transition: 0.5s;
    padding: 1px;
}

/* pagina inicial */

.caixa {
    background-color: white;
    width: 100vw;
    height: 85vh;
    margin-top: 12%;
    margin-bottom: -9%;
}


#tit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#detail {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* sobre */

#sobre {
    background-color: #dddddd;
    flex-direction: column-reverse;
    text-align: center;
    display: flex;
    justify-content: center;


}


.inf,
img,
p {
    width: 100%;
}

/* carrossel */
#carouselExampleIndicators {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -45%;
}


.carousel-inner .img1 {
    width: 100%;
    height: auto;
    margin: auto;
}

.carousel-inner .img2 {
    width: 25%;
    height: 25%;
    margin: auto;
}

.carousel-inner .img3 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img4 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img5 {
    width: 60%;
    height: auto;
    margin: auto;
}

#carouselphoto {
    width: 50%;
    margin: auto;
    margin-top: 50%;
}

.carousel-inner .img6 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img7 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img8 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img9 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img10 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img11 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img12 {
    width: 60%;
    height: auto;
    margin: auto;
}

.picosinf {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    gap: 2rem;
    width: 60%;
}

.div1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.dest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.destaques {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52%;
}

.infgeral2 {
    background-color: #CC9E61;
    padding: 2rem;
}

.picosinf2 {
    width: 60%;
}

.reflexoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    width: 90%;
}

.equipe2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #fff
}

.artigos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CC9E61;
    padding: 3rem;
}

.div-artigos {
    flex-direction: column;
    margin-left: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


/* 
.picosinf, .picosinf1, .picosinf2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.picosinf1{
    width: 90%;
    flex-flow: row nowrap;
}
.infgeral2{
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    align-items: center;
}
.infgeral3{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    text-align: justify;
}
.inftit{
    width: 40%;
    font-size: 65px;
}
.tit{
    font-size: 65px !important;
}
.detail{
    font-size: 40px !important;
}
.inflist{
    width: 40%;
    font-size: 35px;
}
.picosinf2{
    flex-flow: row nowrap;
    justify-content: space-around;
}
.inf{
    width: 90%;
    text-align: justify;
}
footer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}
ul{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer-right img{
    margin-right: 30px;
}

.nav-link:hover{
   background-color: rgb(205, 205, 211);
   transition: 10s;
   border-radius: 5px;
}


body {
    font-family: 'Suez One', serif; 
    background-color: #ffffff; 
    color: #000000;
}

h1, h2, h4, h5, h6 {
    color: black; 
}

h3{
    color: #fff;
}

a {
    color: #2861a7;
}

a:hover {
    color: #2861a7; 
}

header {
    
    background-color: #ffffff;
    color: #ffffff;
    padding: 1rem;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav a {
    color: #000000;
    margin-right: 15px;
    font-size: 35px;
}

.main-section {
    background-image: url('balao2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #bcadad; 
    padding: 3rem 0;
    text-align: center;
}

.main-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.main-section p {
    font-size: 1.2rem;
}

.picosinf {
    background-color: #fff;
    padding: 2rem;
}

.inf {
    flex: 1;
}

.inf img {
    max-width: 100%;
    border-radius: 8px;
}

.pica {
    font-weight: bold;
    color: #0b325c;
}
 */