/* .body {
    background-color: #ffffff;
    overflow-x: hidden;
} */

/* ajuste de tela */
.ajuste {
    padding-top: 10rem;
}

.ajuste2 {
    display: flex;
    justify-content: center;
}

/* cabeçalho */

header {
    background-color: #dddddd;
    color: #ffffff;
    padding: 1rem;
    height: 100px;
}

header .botao a {
    color: #000000;
    font-size: 20px;
    margin-right: 15px;
}

header .botao a:hover {
    border-bottom: solid;
    border-color: black;
    color: black;
    transition: 0.5s;
    padding: 1px;
}

/* pagina inicial */

.caixa {
    background-color: white;
    width: 100vw;
    height: 85vh;
    margin-top: 12%;
    margin-bottom: -9%;
}


#tit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#detail {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* sobre */

#sobre {
    background-color: #dddddd;
    flex-direction: column-reverse;
    text-align: center;
    display: flex;
    justify-content: center;


}

.picosinf {
    display: flex;
    align-items: center;
}

.picosinf h2 {
    margin-right: 20px; /* Ajuste conforme necessário para criar espaço entre a imagem e o título */
}

.picosinf img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto;
}

.picosinf .inf {
    flex-grow: 1; /* Ocupa o espaço restante disponível */
}

/*destaques */
.destaques {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*ferramentas e afetar positivamente*/
.infgeral2 {
    background-color: #CC9E61;
    padding: 2rem;
}

.picosinf2 {
    width: 100%;
}


.inf,
img,
p {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #000000;
}

/* carrossel */
#carouselExampleIndicators {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -45%;
}


/* .carousel-inner .img1 {
    width: 100%;
    height: auto;
    margin: auto;
}

.carousel-inner .img2 {
    width: 25%;
    height: 25%;
    margin: auto;
}

.carousel-inner .img3 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img4 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img5 {
    width: 60%;
    height: auto;
    margin: auto;
} */

#carrossel {
    width: 50%;
    margin: auto;
    margin-top: 50%;
}

/* .carousel-inner .img6 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img7 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img8 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img9 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img10 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img11 {
    width: 60%;
    height: auto;
    margin: auto;
}

.carousel-inner .img12 {
    width: 60%;
    height: auto;
    margin: auto;
} */


.equipe2 {
    display: flex;
    flex-direction:row-reverse;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center !important;
}

.equipe2 img {
    height: 50%;
    width: 10rem;
    border-radius: 80%;
}

.equipe2 p {
    font-size: 1.5rem;
    color: #ffffff;
}

.detail {
    text-align: center;
}

.artigos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 3rem;
}

.div-artigos {
    flex-direction: column;
    margin-left: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*footer*/

/* styles.css */

footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

.footer-right img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Para manter a proporção da imagem */
}
