
.ajuste {
    padding-top: 10rem;
}

.ajuste2 {
    display: flex;
    justify-content: center;
}

/* cabeçalho */

header {
    background-color: #dddddd;
    color: #5c5c5c;
    padding: 1rem;
    height: 100px;
}

header .botao a {
    color: #000000;
    font-size: 20px;
    margin-right: 15px;
}

header .botao a:hover {
    border-bottom: solid;
    border-color: black;
    color: black;
    transition: 0.5s;
    padding: 1px;
}

/* pagina inicial */

.caixa {
    background-color: white;
    width: 100vw;
    height: 85vh;
    margin-top: 12%;
    margin-bottom: -9%;
}

#tit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#detail {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration:#fc0000;
    color:#848484;
    text-decoration: underline;

}


.body, html {
  height: 100%;
  margin: 0;
  font-size:20px;
}


.img-fundo::before {
  content: '';
  background-image: url('imagens/balao.jpeg'); /* Substitua pelo caminho real da sua imagem */
  background-size: cover;
  background-position: center;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  opacity: 0.3;
  z-index: -1; 
}

.vh-100 {
  min-height: 100vh; /* Ajusta a altura para 100% da viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.p-1 {
  font-size: 1.2rem;
}

/* sobre */

#sobre {
    width: 100%;
    background-color: #ffffff;
    flex-direction: column-reverse;
    text-align: center;
    text-align: left;
    display: flex;
    justify-content: center;
}


#sobre img {
    width: 85%;
    height: auto;
    margin: auto;
}


.picosinf {
    display: flex;
    align-items: center;
}

.picosinf h2 {
    margin-right: 20px; /* Ajuste conforme necessário para criar espaço entre a imagem e o título */
}

.picosinf img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto;
}

.picosinf .inf {
    flex-grow: 1; /* Ocupa o espaço restante disponível */
}

/*destaques */
.destaques {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#batata{
    margin-bottom: 8%;
}

#cebola{
    margin-bottom: 8%;
}  

#tomate{
    margin-bottom: 8%;
}

#mapas{
    margin-bottom: 8%;
}

#galeria{
    margin-bottom: 8%;
}

.navbar-nav a {
    color: #000000; 
    transition: color 0.3s transform 0.3s;; 
}

.navbar-nav a:hover {
    color: darkred;
    transform: scale(1.05);
}

.inf,
img,
p {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #000000;
}

/* carrossel */
#carouselExampleIndicators {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -45%;
}

h6{
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
}

h2{
    
    text-align:center;
    font-size: 2rem;
    color: #000000;

   
}
h3{ 
    text-align:center;
    font-size: 1.5rem;
    color: #ffffff;
   
}



#carrossel {
    width: 100%;
    margin: auto;
    margin-top: 50%;
   
}




.equipe2 {
    display: flex;
    flex-direction:row-reverse;
    gap: 2rem;
    justify-content:space-around;
    align-items: center !important;
}

.equipe2 img {
    height: 50%;
    width: 10rem;
    border-radius: 80%;
}

.equipe2 p {
    font-size: 1.5rem;
    color: #ffffff;
}

.detail {
    text-align: center;
}

.artigos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f0303;
    padding: 3rem;
}

.div-artigos {
    flex-direction: column;
    margin-left: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*footer*/
footer {
    background-color: #dddddd;
}

.logos {
    margin-left: 2rem;
}



/* ajustar imagens */

 .col-md-6.col-lg-24{
    margin-left: -5%;
    flex: 0 0 auto;
    width: 425px;
}

.col-md-6.col-lg-25{
    margin-left: -5%;
    flex: 0 0 auto;
    width: 425px;
}

.col-lg-4.col-lg-4 {
    margin-left: 11%;
    flex: 0 0 auto;
    width: 33.333333%;
}

main{
    display: flex;
    flex-direction: column;
    gap: 0px;
}



